* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Ubuntu';
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #26CED1
}

#heading {
    font-size: 28px;
    white-space: nowrap;
}

.container {
    padding: 20px;
    width: 85%;
    max-width: 470px;
    min-width: 350px;
    border-radius: 10px;
    background: #8de0f7;
    background: linear-gradient(0deg, rgba(141, 224, 247, 0.38) 0%, rgba(253, 187, 45, 1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}

.temp-container {
    width: 100%;
    padding: 10px 0;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.temp-container label {
    flex: 1;
}

.temp-container .input {
    font-family: inherit;
    padding: 5px;
    float: right;
    outline: none;
    background: #8DE0F7;
    width: 220px;
}


.img {
    height: 90px;
    margin: 10px auto 25px auto;
    display: block;
    width: auto;
    image-rendering: crisp-edges;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.4)) contrast(1.1);
}