* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
}

.weight-container {
    max-width: 500px;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
}

.weight-container p {
    font-size: 18px;
    font-weight: 500;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 500;
}

.input-container input {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    width: 75%;
    background: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
   
}

.error {
    color: red
}
